/* Variable */
/* pour le debuggage on met une bordure autour de chacun des éléments 

* {border: 1px solid #aaa;}
*/
body {
  display: flex;
  flex-direction: column;
  font-family: arial;
}
header,
footer {
  background-color: #000000;
}
header {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
header img {
  /* width : 352px; dimension de l'image */
  width: 100%;
}
header nav ul {
  list-style-type: none;
  padding: 3px;
}
header nav ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px dotted #f9d42a;
}
header nav ul li:first-child {
  border-top: 1px dotted #f9d42a;
}
header nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 150%;
  padding: 3px;
  color: #ffffff;
  flex: 1;
  transition: background-color 1s;
}
header nav ul li i {
  color: #f9d42a;
  margin-left: 10px;
  margin-right: 10px;
}
header nav ul li a:hover {
  background-color: #aaa;
}
main {
  display: flex;
  flex-direction: column;
  background-image: url("../images/parcautomne.jpg");
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  justify-content: center;
  margin: auto;
}
main section article {
  display: flex;
  justify-content: center;
  width: 200px;
  align-items: center;
  height: 250px;
  font-size: 250px;
}
main section article:nth-child(1) {
  background-color: #dbaab1;
  opacity: 0.8;
}
main section article:nth-child(2) {
  background-color: #b1dca9;
  opacity: 0.8;
}
main section article:nth-child(3) {
  background-color: #b1b1b1;
  opacity: 0.8;
}
main section article:nth-child(4) {
  background-color: #dbaab1;
  opacity: 0.8;
}
main section article:nth-child(5) {
  background-color: #b1dca9;
  opacity: 0.8;
}
footer {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer div {
  width: 30px;
}
footer div i {
  color: #f9d42a;
  transition: color 1s;
}
footer div i:hover {
  color: #7f8ee3;
}
